<template>
  <div class="jeep">
    <h1>Jeep</h1>
    <div class="container text-center">
          <jeep-img></jeep-img>
    </div>
  </div>
</template>

<script>
import JeepImg from '../components/JeepImg';
export default {
  name: 'app',
  components: {
    JeepImg
  }
}
</script>