<template>
  <div class="movies">
    <h1>Movies</h1>
    <div class="container text-center">
          <movies-app></movies-app>
    </div>
  </div>
</template>

<script>
import MoviesApp from '../components/MoviesApp';
export default {
  name: 'app',
  components: {
    MoviesApp
  }
}
</script>

