<template>
    <div>
        <h1 class="text-center text-muted">Autos marca Jeep</h1>
        <img alt="Vue jeep1" src="../assets/jeep1.png">
        <img alt="Vue jeep1" src="../assets/jeep2.png">
        <img alt="Vue jeep1" src="../assets/jeep3.png">
        <img alt="Vue jeep1" src="../assets/jeep4.png">
        <img alt="Vue jeep1" src="../assets/jeep5.png">
        <img alt="Vue jeep1" src="../assets/jeep6.png">
    </div>
</template>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
img {
  margin-bottom: 30px;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}
</style>