<template>
    <div>
        <div class="row" v-if="movies.length > 0">
            <movie :movie="movie" v-for="movie in movies" :key="movie.id"></movie>
        </div>
        <div v-else="" class="alter alert-danger">No hay películas disponibles</div>
    </div>
</template>

<script>
//representa cada una de las peliculas dentro de un bucle
import Movie from './MovieItem';
import {mapGetters} from 'vuex';
export default {
    components: {
        Movie
    },
    computed: {
        //this.$store.getters.filteredMovies
        //operador de propagación
        ...mapGetters({
            movies: 'filteredMovies',
        })
    }
}
</script>